.slider_wrapper { width: 998px; position: relative; overflow: hidden; margin: 20px auto 0 auto; padding:30px 0 5px 0; border: 1px dashed #7a7ee6; font: 16px/16px 'PT Sans', sans-serif; }
.bl { display: block; }
.fleft { float: left; }
.tabs { width: 214px; position: relative; padding: 0; }
.tabs li { width: 182px; height: 37px; background:url(/bitrix/templates/femina_dark/components/bitrix/catalog.section/main_page/images/tab_sprite.png) 0 0 no-repeat; padding-top:15px; cursor: pointer; margin: 0 0 20px 0; padding-right: 30px; text-align: center; }
.tabs li a { color: #FFFFFF; font: 24px/24px 'PT Sans', sans-serif; text-decoration:none; }
.tabs li:hover { background:url(/bitrix/templates/femina_dark/components/bitrix/catalog.section/main_page/images/tab_sprite.png) 0 -53px no-repeat; }
.tabs li.active { background:url(/bitrix/templates/femina_dark/components/bitrix/catalog.section/main_page/images/tab_sprite.png) 0 -106px no-repeat; } 
.tab_container { float: left; }
.tab_nav_wrapper { float: left; width: 214px; height: 100%; margin: 0 40px 0 0; position: relative; top: 5px; }
.slide_p_link { width: 240px; height: 26px; line-height: 26px; background: #7a7ee6; margin: 70px 0 0 0; padding: 0 10px 0 0; }
.slide_p_link a { color: #FFFFFF; display: block; text-align: right; text-decoration: underline; }
.controls { position: absolute; top: 130px; }
.controls.cleft { left: 0; }
.controls.cright { right: 0; }
button.prevPage { width:24px; height:50px; background: transparent url('images/main_slider_nav.png') 0px -160px no-repeat; }
button.nextPage { width:24px; height:50px; background: transparent url('images/main_slider_nav.png') -20px -160px no-repeat; }

.container { margin: 0 auto; }

/* Example wrapper */
.wrap {
	position: relative;
	padding: 0 30px 0 20px;
}

/* Frame */
.frame {
	height: 360px;
	width: 680px;
	line-height: 250px;
	position: relative;
	overflow: hidden;
	left: 6px;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 50px;
}
.frame ul li {
	float: left;
	width: 205px;
	padding: 0 10px;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul li:last-child {
}
.frame ul li.active {
	color: #fff;
}
.frame ul li a {
display: block; width: 100%; height:300px; position: relative; color:#FFFFFF; text-decoration: none;
}
.frame ul li.active a {

}
.frame ul li .slide_img_wrapper {
	height: 296px;
	border: 3px solid #FFFFFF;
	border-radius: 3px;
	clear: both;
	overflow:hidden;
	background: url(/assets/images/logo_transp.png) 50% 50% no-repeat;
}
.frame ul li .slide_img_wrapper img {
	width: 100%;
	height: 100%;
}
.frame ul li .slide_prod_title {
	color: #FFFFFF;
	font-size: 15px;
	line-height: 30px;
	height:30px;
}
.frame ul li .slide_prod_price {
	color: #db2359;
	font-size: 18px;
	line-height: 14px;
	font-weight: bold;
}
/* Scrollbar */
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #ccc;
	line-height: 0;
	position: relative;
	left: 4px;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}
/* Controls */
.controls { text-align: center; }
/* One Item Per Frame example*/
.oneperframe { height: 300px; line-height: 300px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }

.collection_link {
	position:absolute; 
	width:160px; 
	height:20px; 
	left:-255px;
	top:310px;
	background-color:#7a7ee6;
	padding: 5px 0 5px 70px;
}
.collection_link a {
	color:#FFF;
	text-decoration: none;
	}
.collection_link a:hover {
	color: #FFF;
	text-decoration: underline;
	}