h4,.section .title{
	font-family: 'Circe-Light';
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 20px;
	border-bottom:1px solid #000;
	font-weight: normal;
	margin-bottom: 0;
}
h4{
	margin-top: 50px;
	width: 100%;
}
.section input[type="radio"]{
	display: none;
}
.section label{
	background:url('/bitrix/templates/new_femina/images/checkbox-sprite.png') left bottom no-repeat;
	display: block;
	padding-left: 30px;
	line-height: 19px;
	font-size: 15px;
	font-family: 'Circe-Light';
	cursor: pointer;
	margin-top: 20px;
}
.section label{
	color: #b42e31;
}

.section input[type="radio"]:checked + label{
	background:url('/bitrix/templates/new_femina/images/checkbox-sprite.png') left top no-repeat;
	color: #b42e31;
}
.bx_section #sale_order_props{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}
.bx_section .property.order-comment{
	width: 100%;
	max-width: 100%;
}
.bx_section .property.order-comment textarea{
	width: 100%;
	max-width: 100%;
	height: 100px;
	max-height: 150px;
}

.property{
	width: 30%;
}
.property.submit{
	margin-top: 25px;
}
.property.message{
	margin: 25px 0 0 0;
}
.change-order-user .property{
	width: 100% !important;
}
#content .change-order-user h4{
	margin-top: 0;
}
.property.TEXTAREA{
	width: 65%;
}
.property .property-name{
	display: block;
	width: 100%;
	font-size: 18px;
	font-family: 'Circe-Bold';
	margin: 25px 0 15px;
	text-transform: uppercase;
}
.property .property-name span{
	color: red;
	font-size: 16px;
}
.property input,.property textarea,.property select{
	width: 100%;
	height: 40px;
	max-height: 80px;
	max-width: 100%;
	border: 1px solid #000;
	text-indent: 10px;
	background: #fff;
	font-size: 16px;
	font-family: 'Circe-Light';
}
.property textarea{
	padding-top: 7px;
	box-sizing: border-box;
}
form .capcha{
	width: 100%;
}

form .capcha{
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-family: 'Circe-Light';
	line-height: 1.2;
	padding-top: 25px;
}
form .capcha img{
	width: 100%;
	height: 42px;
	display: block;
}

form .capcha .capcha-field,form .capcha .capcha-img{
	width: 47%;
}
.change-order-user{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}
.change-order-user > div{
	width: 48%;
	margin-bottom: 30px;
}
.bx_ordercart_order_pay_center{
	margin-top: 30px;
	margin-bottom: 60px;
	display: flex;
	justify-content: flex-end;
}
.bx_ordercart_order_pay_center a{
	text-align: center;
	text-decoration: none;
	display: block;
	 font-size: 21px;
    font-family: 'Circe-Light';
    height: 32px;
    line-height: 32px;
    width: 174px;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    cursor: pointer;
    margin: 0 0px 0 15px;
}
.bx_ordercart_order_pay_center a:hover{
    background: #333;
    color: #fff;
}
.reg-user .capcha{
	width: 100% !important;
}
@media (max-width: 700px){
	.change-order-user{
	flex-wrap: wrap;
	
	}
	.change-order-user > div{
		width: 100%;
	}
	
}
.bx_order_make{
	margin-bottom: 40px;
}
.bx_order_make h3 {
	color: #b42e31;
}