.top-row {
	width:100%;
	height:40px;
	background-color: #7780ee;
	cursor: pointer;
	color: white;
}
.top-row h2 {
	display: block;
	max-width:1000px;
	margin:0 auto;
	color: white;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
    padding: 13px 0;
}
.top-row h2:hover {
	text-decoration: underline;
}
.top-row-2 {
	display: none;
	margin:0;
	padding:10px 0;
	background-color: #7780ee;
	color: white;
}
.top-row-2-inner {
	display: block;
	max-width:1000px;
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
	color: white;
}