.bx-auth{
	font-size: 18px;
  	font-family: 'Circe-Light';
  	line-height: 1.2;
}

input[type="checkbox"]{
	display: none;
}
label.checkbox-label{
	background: url(/bitrix/templates/new_femina/images/checkbox-sprite.png) left bottom no-repeat;
    display: block;
    padding-left: 30px;
    line-height: 19px;
    font-size: 15px;
    font-family: 'Circe-Light';
    cursor: pointer;
}
